* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

.wrapper {
  margin: 0px;
  padding: 10px;
  border: 1px dashed #666;
  max-width: 450vw;
  max-height: 350vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.wrapper .flex-item {
  background: #eee;
  border: 1px solid #666;
  text-align: center;
  width: 33%;
  height: 120px;
  margin-top: 2px;
  margin-bottom: 10px;
}
