* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 1em;
  height: 600px;
  border: 1px dashed #666;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  text-align: center;
  padding: 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.flex-item {
  flex-basis: 22%;
  width: 33vh;
  flex-grow: 0;
}

.flex-item:nth-child(4n+1) {
  flex-basis: 100%;
}
