.borders {
  border: 2px solid #800;
}

%spaces {
  padding: 1em;
  margin: 1em;
}

header,
footer,
article {
  @extend .borders;
  //border: 2px solid #800; nasljeđuje se svima navedenima
  @extend %spaces;
  //padding: 1em; margin: 1em;
}
