body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #ddd;
}
header {
    background-color: greenyellow;
}
nav {
    background-color: #ffc;
}
main {
    background-color: blueviolet;
}
footer {
    background-color: crimson;
}
