* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
  }
  
  .wrapper {
    border: 1px dashed #666;
  
    padding: 1em;
  }
  
  .wrapper div {
    background: #eee;
    border: 1px solid #666;
    text-align: center;
    padding: 1em;
    margin: 1em;
    width: 30%;
  }
  
  .flex-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-flow: row wrap;
    /* flex-flow: flex-direction i flex-wrap */
    
  }